<img src="https://raw.githubusercontent.com/paular143/images_notebooks/master/logo-sin-nombre.png" alt="Universidad de Los Andes" style="width: 90px;" align="left" frameborder="300"/>

**UNIVERSIDAD DE LOS ANDES** <br>
**FACULTAD DE ECONOMÍA** <br>
**TÓPICOS EN APRENDIZAJE DE MÁQUINAS** <br>
**CON LA COLABORACION DE:** Jose S. Ñungo y Nicolas Rugeles <br><br>

# 1. Introducción a Python

<!-- <center> 
<img src = "assets\why_python.PNG" width = "500"/>
</center> -->

Podemos usar a Python para casi cualquier cosa de desarrollo computacional, pero empecemos con lo primero. Es una calculadora :)

## Operaciones básicas
Realice alguna operación con los siguientes comandos
| Operación | Resultado       |
| --------- | --------------- |
|    +      | Suma            |
|    -      | Resta           |
|    *      | Multiplicación  |
|    /      | División        |
|    %      | Modulo          |
|    //     | División entera |
|    \*\*   | Potencia        |

In [88]:
print("### Suma ###")
print(5 + 5)
print("### Resta ###")
print(5 - 5)
print("### Multiplicación ###")
print(3 * 5)
print("### División ###")
print(10 / 3)
print("### Divisón entera ###")
print(10 // 3)
print("### Modulo ###")
print(18 % 7)
print("### Potencia ###")
print(4 ** 2)

### Suma ###
10
### Resta ###
0
### Multiplicación ###
15
### División ###
3.3333333333333335
### Divisón entera ###
3
### Modulo ###
4
### Potencia ###
16

## Variables
Para definir variables en Python utilizamos el simbolo de igual (`=`). Como buena práctica de programación, cuando definimos un nombre, utilizamos guión bajo (`_`) para separar las palabras. **Nunca usamos un punto** (Para los que vienen de R). Adicionalmente se debe usar caracteres especiales como tildes o ñ en los nombres de los objetos que definamos.

A continuación debe crear 4 variables. 
- La primera variable se debe llamar `refran` y debe ser un texto alusivo a un refran. Hint: Todos los textos deben estar entre comillas para que Python sepa que son textos.
- La segunda variable se debe llamar `x` y debe ser un número entero.
- La tercera variable se debe llamar `pi` y debe ser el número pi aproximado
- La cuarta variable se debe llamar `condicion` y debe tomar el valor de `True` o `False`

In [89]:
refran = "Al que madruga le da sueño por la tarde"
x = 3
pi = 3.1416
condicion = True

Note que cada variable tiene un color diferente. El color está asociado al **tipo** de variable. En mi caso, se ve rojo si la variable es un texto (*string*), amarillo si es un número (*integer* o *float*) y azul si es una variable booleana (*bool*). Para chequear el tipo de una variable siplemente escribimos:
> type(nombre_de_la_variable)

In [90]:
print(type(refran))
print(type(x))
print(type(pi))
print(type(condicion))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Saber la clase de los objetos con los que trabajamos es muy importante porque dependiendo de esta las operaciones y funciones a implementar van a cambiar su resultado. Por ejemplo, pruebe las siguientes operaciones:
```python
x + pi
pi - 2*condicion
not condicion
condicion + 0
refran + refran
refran * 5
```

In [91]:
print(x + pi)
print(pi - 2*condicion) 
print(not condicion) 
print(condicion + 0) # True equivale a 1 y False equivale a 0
print(refran + refran) # Se pueden concatenar strings usando +
print((refran + " ")* 5)

6.1416
1.1416
False
1
Al que madruga le da sueño por la tardeAl que madruga le da sueño por la tarde
Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde Al que madruga le da sueño por la tarde

## Listas
Las listas son una forma de almacenar una secuencia de objetos (iterables). Una lista puede contener objetos de diferentes tipos e incluso puede contener otras listas. La forma más fácil de construir una lista es con dos corchetes (`[]`) y separando los elementos con una coma (`["a", "b"]`)

In [92]:
beatles = ["John", "Paul", "George", "Ringo"]
print(beatles)
print(type(beatles)) 
notas_taller1 = [4.2, 3.8, 4.5, 2, 5]
print(notas_taller1)
random_list = ['mytext', 3.0, 7, [10, 20]]
print(random_list)
lista_vacia = []
print(lista_vacia)

['John', 'Paul', 'George', 'Ringo']
<class 'list'>
[4.2, 3.8, 4.5, 2, 5]
['mytext', 3.0, 7, [10, 20]]
[]

Python es un método de programación orientado a objetos, es decir que casi todas las variables que definimos tienen ciertos atributos y propiedades. Las listas son un objeto que nos permite hacer diferentes operaciones. Empecemos partiendo nuestras listas en algunos subconjuntos.

Cada elemento de una lista se encuentra en una posición. En Python se le conoce como *index* y **la primera posición es el 0**, la segunda es el 1 y así sucesivamente hasta llegar a la última posición la cual sería n - 1.

Por ende, si queremos extraer el primer elemento de una lista debemos escribir `nombre_lista[0]`

In [93]:
print(beatles[0])
print(beatles[1])
print(beatles[-1]) # Acceder al último elemento. Tenga en cuenta que es -1 y no -0 (:P).
print(beatles[-2]) # Acceder al n-ésimo - 1 elemento.
print(random_list[-1][0]) # Acceder al último elemento de la lista que es otra lista. Una vez en esa lista, accedemos al primer elemento de la lista

John
Paul
Ringo
George
10

Si queremos extraer más de un elemento podemos usar los siguientes trucos. Tenga en cuenta que los corchetes en Python son inclusivos por la izquierda pero exclusivos por la derecha.

In [94]:
example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
print(example[0:5]) # Extraemos los primeros 5 elementos
print(example[1:5]) # De los primeros 5 elementos, extraemos los últimos 4
print(example[2:3]) # Solo extraemos el tercer elemento. No incluye el cuarto!
print(example[:3]) # Desde el comienzo al tercer elemento. Note que es excluyente a la derecha
print(example[3:]) # Desde el cuarto elemento hasta el final de la lista. Note que es incluyente a la izquierda
print(example[0:6:2]) # Comenzamos a extraer de 2 en dos desde el elemento 1 hasta el elemento 10. Syntaxis: nombre_lista[indice_inicial:indice_final:tamaño_paso]
print(example[::2]) # Extraer toda la lista de 2 en 2
print(example[::-1]) # Poner la lista en orden inverso
example[0] = "Hola" # También podemos modificar la lista
print(example)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[1, 3, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]

Las operaciones básicas entre listas son muy similares a las operaciones entre strings. 

OJO: Las listas son estructuras de datos, no vectores.

In [95]:
print(example + example)
print(example * 3)
print(example + ["Añadir nuevo elemento a la lista"])

['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Hola', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Añadir nuevo elemento a la lista']

## Condiciones
Antes de entrar a los *if statements* vamos a estudiar los diferentes tipos de condiciones:
| Operador | Resultado
| -------- | ---------
|   ==     | Igualdad
|   !=     | No es igual        
|   <      | Menor que
|   >      | Mayor que
|   <=     | Menor o igual
|   >=     | Mayor o igual
|   and    | Verifica si dos condiciones se cumplen
|   or     | Verifica si se cumple al menos una condición
|   not    | Niega una condición
|   in     | Verifica si un elemento está en una lista

Veamos

In [96]:
x = 2
condicion1 = x == 2 
condicion1

True

In [97]:
condicion2 = x == 3 
condicion2

False

In [98]:
condicion3 = x < 3
condicion3

True

In [99]:
# Recordemos en breve las tablas lógicas de verdad
print(condicion1 and condicion2) # T & F -> F
print(condicion2 and condicion1) # F & T -> F
print(condicion1 or condicion2) # T | F -> T
print(condicion2 or condicion1) # F | T -> T

False
False
True
True

## Control flows
Ejecutar código en caso de que se cumplan ciertas condiciones. Acá tenemos 3 comandos básicos: `if`, `else` y `elif`.

La sintaxis para los *control flows* es:

```
if condicion1:
    # Si la condición es True se ejecuta este chunk de código
    print("condicion1 es verdadera")
elif condicion2:
    # Si la condición 1 es False y la condición 2 es True, se ejecuta este chunk_de_codigo
    print("condicion1 es falsa y la condicion2 es verdadera")
else:
    # Si la condición 1 y 2 son falsas, se ejecuta este chunk_de_codigo
    print("condicion1 y la condicion 2 son falsas")
```

Python es un lenguaje minimalista por lo que para hacer *control flows* no usa paréntesis ni corchetes. Después de la condición solo se debe incluir el símbolo de dos puntos (`:`) y el código que se desea correr si la condicion es verdadera debe estar debajo e indentado por 4 espacios (un tab).

In [100]:
lado_oscuro = "Anakin Skywalker"
hijo = "Luke Skywalker"

if lado_oscuro == "Anakin Skywalker": 
    print("Darth Vader")

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")

Darth Vader

In [101]:
if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Anakin Skywalker es el padre de Luke Skywalker

In [102]:
padre = lado_oscuro

if lado_oscuro == hijo:
    print("Luke, no te rindas al odio. Eso lleva al lado oscuro")
elif padre == "Anakin Skywalker":
    print("Yo soy tu padre!")
else: 
    print(lado_oscuro + " es el padre de " + hijo)

Yo soy tu padre!

## Loops

Existen dos tipos de loops.
- *for loops* en donde se itera sobre una lista de elementos.
- *while loops* en donde se itera hasta que cierta condición se deje de cumplir

In [103]:
# Iterar sobre los números del 0 al 4
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [104]:
# Iterar sobre los números del 3 al 7 de dos en dos
for x in range(3, 8, 2):
    print(x)

3
5
7

In [105]:
# También se puede iterar sobre un string
for x in "Python":
   print(x)

P
y
t
h
o
n

In [106]:
# Break statement
mago = ["Harry", "Hermione", "Ron", "Voldemort", "Dumbledore"]
for x in mago:
    if x == "Voldemort":
        break # Es como un freno de mano
    print(x)

Harry
Hermione
Ron

In [107]:
# Continue statement
for x in mago:
    if x == "Voldemort":
        continue # Pare la iteración en la que va y continue con la siguiente
    print(x)

Harry
Hermione
Ron
Dumbledore

In [108]:
x = 1
while x < 5: 
    print(x)
    x += 1

1
2
3
4

## Funciones
La sintaxis sería:
```python
def nombre_funcion(parametro1, parametro2, ...):
    """
    Descripción de lo que hace la función

    Parameters:
        parametro1 (clase_parametro1): Descripción de qué es el input y qué valores puede tomar. 
        parametro2 (clase_parametro2): Descripción de qué es el input y qué valores puede tomar. 

    Returns:
        output1 (clase_output): Descripción de lo que es el output y qué valores puede tomar.
    """

    # Bloque de código
    
    return(resultado)
```

In [109]:
def suma_dos_numeros(a, b):
    """
    Esta función toma dos números y entrega la suma de estos.

    Parameters:
        a (float): número a sumar.
        b (float): número a sumar.

    Returns:
        resultado (float): suma de a + b
    """
    
    resultado = a + b

    return resultado

In [110]:
suma_dos_numeros(2, 3)

5

### Diccionarios

Los diccionarios son usados para hacer variables que mapean e indexan elementos no organizados. En un formato de llaves y valores.

```python
diccionario = {
     key1: value1,
     key2: value2,
        .
        .
        .
    }
```
1. Defina "a" como un entero y "b" como un caracter.
2. Defina un dictionario llamado dict_1 donde incluya un número (float), "a", "b" y lista_1
3. Accedamos a los elementos

In [111]:
lista_1 = [13,3,7,45]
a = 7
b = 'Python'
diccionario = {"a": a, "b": b, 'lista': lista_1, "numero":3.14}

In [112]:
diccionario

{'a': 7, 'b': 'Python', 'lista': [13, 3, 7, 45], 'numero': 3.14}

In [113]:
diccionario['lista']

[13, 3, 7, 45]

In [114]:
perro = {'raza': 'Alaska', 'peludo': True, 'edad': 3, 3: 'Si'}

In [115]:
print(perro['raza'])
print(perro['peludo'])
print(perro[3])

Alaska
True
Si

In [116]:
perro['raza'] = 'Golden'
perro['edad'] += 16
print(perro)

{'raza': 'Golden', 'peludo': True, 'edad': 19, 3: 'Si'}

# 2. Programación orientada a objetos.
 
La programación orientada a objetos (OOP) es una forma de estructurar la programación agrupando comportamientos y propiedades en entidades individuales que se llaman **objetos**.
 
Un objeto contiene dos puntos importantes:
 
* Atributos: Conjunto de datos.
* Métodos: Comportamientos posibles.
 
__Clases__ vs __Instancias__.
    * __Clase__: Este es el molde que define como un objeto debe ser creado. No contiene datos.
    * __Instancia__: Este se construye a partir de la clase y contiene datos reales.
 
-> La clase es un formulario y la instancia es este formulario con la información diligenciada.

La sintaxis sería:
```python
    class NombreClase:
        def __init__():
            self.atributo1 = valor

        def metodo1(self, parametros):
            pass
    
```

In [120]:
class UsuarioPID:
    def __init__(self, nombre, apellido, rol): # Parametros que necesito para mi objeto
        
        # Atributos
        self.nombre = nombre
        self.apellido = apellido
        self.rol = rol

    def presentacion(self): # Funcion que se puede hacer
        print(f"Hola, mi nombre es {self.nombre} {self.apellido} y mi rol en la aplicación es de {self.rol}")

In [121]:
usuario1 = UsuarioPID('Jose', 'Ñungo', 'Desarrollador')
usuario2 = UsuarioPID('Enrique', 'Gallarado', 'Administrador')

In [122]:
usuario1.presentacion()
usuario2.presentacion()

Hola, mi nombre es Jose Ñungo y mi rol en la aplicación es de Desarrollador
Hola, mi nombre es Enrique Gallarado y mi rol en la aplicación es de Administrador

# 3. Paquetes (Introducción Pandas)

_Pandas_, este es el paquete más robusto y famoso en Python para la manipulación de bases de datos.

En Pandas existen tres tipos de estructuras: 

- Series: data en un arreglo 1D, etiquetada, homogénea e inmutable de tamaño
- **Data Frames**: arreglo 2D, tamaño mutable, columnas heterogéneas, etiquetadas
- Panel: arreglo 3D, tamaño mutable.

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" alt="Pandas DataFrame">
<img src="https://pandas.pydata.org/docs/_images/01_table_series.svg" alt="Pandas DataFrame">

In [2]:
import pandas as pd

In [3]:
# Cree 4 listas
nombres=['Mateo', 'Sara', 'Juan', 'Carla']
sexo=['F', 'M', 'M', None]
edad=[24,21,25,30]
notas=[4.5, 2, 3.25, 4]

In [4]:
diccionario={'names':nombres, 'sex':sexo, 'age':edad, 'grades':notas} # Contruya un diccionario
diccionario

{'names': ['Mateo', 'Sara', 'Juan', 'Carla'],
 'sex': ['F', 'M', 'M', None],
 'age': [24, 21, 25, 30],
 'grades': [4.5, 2, 3.25, 4]}

In [5]:
data=pd.DataFrame(diccionario) # Conviértalo en data frame

In [6]:
data

   names   sex  age  grades
0  Mateo     F   24    4.50
1   Sara     M   21    2.00
2   Juan     M   25    3.25
3  Carla  None   30    4.00

## Cargar archivos como DataFrame

In [7]:
salud = pd.read_csv('datos/suficiencia.csv',
                    na_values=':')
salud

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,DIAS_COMP_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
0,00000194-D058-45CA-8FFA-104DC5EEFFFB,1990-02-22,F,1,1,11,11,EPS008,EPS008,150,...,False,False,False,True,6.889200e+04,6.104900e+04,1,0,20,19
1,0000044A-6B61-4EBF-BF51-CCFE020AF4C7,1935-07-15,M,1,1,8,8,EPS037,EPS037,360,...,False,False,False,True,1.780939e+06,1.273880e+06,0,1,75,74
2,00000495-E581-4053-A710-6275911EF9AB,1964-05-23,M,1,1,54,54,EPS037,EPS037,360,...,False,False,False,False,3.080080e+05,0.000000e+00,0,1,46,45
3,000007D9-9087-4F36-9B26-25D205C46EE1,1974-10-06,M,430,430,25,25,EPS013,EPS013,191,...,False,False,False,True,1.552693e+05,5.746624e+05,0,1,36,35
4,00000CF1-F4ED-4330-8739-C82FCF1BCAC7,2000-12-28,M,172,88,5,5,EPS013,EPS013,180,...,False,False,False,False,3.324060e+05,1.753640e+05,0,1,10,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,072C7FF2-BA0B-464B-B8D1-DEBF282191EE,1966-10-03,F,1,1,11,11,EPS005,EPS005,302,...,False,False,False,False,8.401947e+04,0.000000e+00,1,0,44,43
99995,072C8201-E5B9-4287-8C18-829FD324630C,1986-07-22,M,1,1,76,76,EPS012,EPS012,360,...,False,False,False,True,2.146100e+04,9.483300e+04,0,1,24,23
99996,072C8598-B8DA-430B-B338-87CD7A6D177B,1981-11-22,F,1,1,11,11,EPS002,EPS002,360,...,False,False,False,True,9.910720e+05,1.220963e+05,1,0,29,28
99997,072C8AB4-47EB-441E-98A9-FD47F3315A81,1935-06-28,F,1,1,76,76,EPS037,EPS037,360,...,False,False,False,True,1.296260e+05,3.332620e+05,1,0,75,74
99998,072C8FDB-2E8D-407B-AD2B-748DF699C576,1979-12-09,F,1,1,11,23,EPS017,EPS005,360,...,False,False,False,False,2.205371e+06,4.714167e+05,1,0,31,30

In [8]:
salud.head()

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,DIAS_COMP_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
0,00000194-D058-45CA-8FFA-104DC5EEFFFB,1990-02-22,F,1,1,11,11,EPS008,EPS008,150,...,False,False,False,True,6.889200e+04,6.104900e+04,1,0,20,19
1,0000044A-6B61-4EBF-BF51-CCFE020AF4C7,1935-07-15,M,1,1,8,8,EPS037,EPS037,360,...,False,False,False,True,1.780939e+06,1.273880e+06,0,1,75,74
2,00000495-E581-4053-A710-6275911EF9AB,1964-05-23,M,1,1,54,54,EPS037,EPS037,360,...,False,False,False,False,3.080080e+05,0.000000e+00,0,1,46,45
3,000007D9-9087-4F36-9B26-25D205C46EE1,1974-10-06,M,430,430,25,25,EPS013,EPS013,191,...,False,False,False,True,1.552693e+05,5.746624e+05,0,1,36,35
4,00000CF1-F4ED-4330-8739-C82FCF1BCAC7,2000-12-28,M,172,88,5,5,EPS013,EPS013,180,...,False,False,False,False,3.324060e+05,1.753640e+05,0,1,10,9

In [9]:
salud.tail()

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,DIAS_COMP_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
99994,072C7FF2-BA0B-464B-B8D1-DEBF282191EE,1966-10-03,F,1,1,11,11,EPS005,EPS005,302,...,False,False,False,False,8.401947e+04,0.000000,1,0,44,43
99995,072C8201-E5B9-4287-8C18-829FD324630C,1986-07-22,M,1,1,76,76,EPS012,EPS012,360,...,False,False,False,True,2.146100e+04,94833.000000,0,1,24,23
99996,072C8598-B8DA-430B-B338-87CD7A6D177B,1981-11-22,F,1,1,11,11,EPS002,EPS002,360,...,False,False,False,True,9.910720e+05,122096.347826,1,0,29,28
99997,072C8AB4-47EB-441E-98A9-FD47F3315A81,1935-06-28,F,1,1,76,76,EPS037,EPS037,360,...,False,False,False,True,1.296260e+05,333262.000000,1,0,75,74
99998,072C8FDB-2E8D-407B-AD2B-748DF699C576,1979-12-09,F,1,1,11,23,EPS017,EPS005,360,...,False,False,False,False,2.205371e+06,471416.727273,1,0,31,30

In [10]:
salud.index

RangeIndex(start=0, stop=99999, step=1)

In [11]:
salud.columns

Index(['NUM_IDE', 'FECHA_NACI', 'SEXO', 'MUNI_2010', 'MUNI_2011', 'DPTO_2010',
       'DPTO_2011', 'EPS_2010', 'EPS_2011', 'DIAS_COMP_2010', 'DIAS_COMP_2011',
       'CONTEO_2010', 'VALOR_TOT_2010', 'DIAG_1_A_2010', 'DIAG_1_B_2010',
       'DIAG_1_C_2010', 'DIAG_1_D_2010', 'DIAG_1_E_2010', 'DIAG_1_F_2010',
       'DIAG_1_G_2010', 'DIAG_1_H_2010', 'DIAG_1_I_2010', 'DIAG_1_J_2010',
       'DIAG_1_K_2010', 'DIAG_1_L_2010', 'DIAG_1_M_2010', 'DIAG_1_N_2010',
       'DIAG_1_O_2010', 'DIAG_1_P_2010', 'DIAG_1_Q_2010', 'DIAG_1_R_2010',
       'DIAG_1_S_2010', 'DIAG_1_T_2010', 'DIAG_1_V_2010', 'DIAG_1_W_2010',
       'DIAG_1_X_2010', 'DIAG_1_Y_2010', 'DIAG_1_Z_2010', 'CONTEO_2011',
       'VALOR_TOT_2011', 'DIAG_1_A_2011', 'DIAG_1_B_2011', 'DIAG_1_C_2011',
       'DIAG_1_D_2011', 'DIAG_1_E_2011', 'DIAG_1_F_2011', 'DIAG_1_G_2011',
       'DIAG_1_H_2011', 'DIAG_1_I_2011', 'DIAG_1_J_2011', 'DIAG_1_K_2011',
       'DIAG_1_L_2011', 'DIAG_1_M_2011', 'DIAG_1_N_2011', 'DIAG_1_O_2011',
       'DIAG_1_P_2011', 'DIAG_1_Q_2011', 'DIAG_1_R_2011', 'DIAG_1_S_2011',
       'DIAG_1_T_2011', 'DIAG_1_V_2011', 'DIAG_1_W_2011', 'DIAG_1_X_2011',
       'DIAG_1_Y_2011', 'DIAG_1_Z_2011', 'GASTO_AN_2010', 'GASTO_AN_2011',
       'SEXO_F', 'SEXO_M', 'EDAD_2011', 'EDAD_2010'],
      dtype='object')

In [12]:
salud.describe()

,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,DIAS_COMP_2010,DIAS_COMP_2011,CONTEO_2010,VALOR_TOT_2010,CONTEO_2011,VALOR_TOT_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
count,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,9.999900e+04,99999.000000,9.999900e+04,9.999900e+04,9.999900e+04,99999.000000,99999.000000,99999.000000,99999.000000
mean,122.748427,122.884419,29.793118,29.800088,296.634696,301.751728,22.188202,6.316394e+05,21.652707,6.259137e+05,1.297454e+06,1.076146e+06,0.555456,0.444544,33.027860,32.027860
std,233.518623,233.670754,27.245030,27.257084,100.092868,99.438537,35.712278,3.508997e+06,34.352156,4.383343e+06,2.895310e+07,1.252743e+07,0.496918,0.496918,20.782819,20.782819
min,1.000000,1.000000,5.000000,5.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,-1.000000
25%,1.000000,1.000000,11.000000,11.000000,267.000000,285.000000,5.000000,5.483200e+04,3.000000,2.773550e+04,7.454754e+04,3.404715e+04,0.000000,0.000000,16.000000,15.000000
50%,1.000000,1.000000,11.000000,11.000000,360.000000,360.000000,12.000000,1.488040e+05,11.000000,1.282690e+05,2.009510e+05,1.583210e+05,1.000000,0.000000,31.000000,30.000000
75%,129.000000,129.000000,54.000000,54.000000,360.000000,360.000000,26.000000,4.089275e+05,27.000000,3.860950e+05,5.687785e+05,4.867013e+05,1.000000,1.000000,47.000000,46.000000
max,980.000000,980.000000,99.000000,99.000000,390.000000,390.000000,3008.000000,6.107444e+08,1703.000000,8.352813e+08,7.521754e+09,1.961825e+09,1.000000,1.000000,110.000000,109.000000

### Filtrar columnas
<img src="https://pandas.pydata.org/docs/_images/03_subset_columns.svg" title = "Columnas">

In [ ]:
data[['CODE_CATEGORY', 'RECOVERY_METHOD']]

In [13]:
salud[['SEXO_F','DIAS_COMP_2010']]

       SEXO_F  DIAS_COMP_2010
0           1             150
1           0             360
2           0             360
3           0             191
4           0             180
...       ...             ...
99994       1             302
99995       0             360
99996       1             360
99997       1             360
99998       1             360

[99999 rows x 2 columns]

In [14]:
salud[10:13]

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,DIAS_COMP_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
10,0000255A-5780-4A7F-89C3-F081534D97C1,1946-08-30,F,568,568,86,86,EPS013,EPS013,360,...,False,False,False,True,1.523976e+06,2194636.0,1,0,64,63
11,00002FDE-CAC7-4375-AF56-1B252173B61B,1972-10-30,M,1,1,70,70,EPS002,EPS002,319,...,False,False,False,False,1.970859e+04,0.0,0,1,38,37
12,00003284-E9F5-4C45-84F9-CCA37FB2C189,2007-01-18,F,296,296,8,8,EPS013,EPS013,360,...,False,False,False,True,1.547060e+05,69919.0,1,0,3,2

In [15]:
salud[salud['DPTO_2011']>6.5].tail()

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,DIAS_COMP_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
99994,072C7FF2-BA0B-464B-B8D1-DEBF282191EE,1966-10-03,F,1,1,11,11,EPS005,EPS005,302,...,False,False,False,False,8.401947e+04,0.000000,1,0,44,43
99995,072C8201-E5B9-4287-8C18-829FD324630C,1986-07-22,M,1,1,76,76,EPS012,EPS012,360,...,False,False,False,True,2.146100e+04,94833.000000,0,1,24,23
99996,072C8598-B8DA-430B-B338-87CD7A6D177B,1981-11-22,F,1,1,11,11,EPS002,EPS002,360,...,False,False,False,True,9.910720e+05,122096.347826,1,0,29,28
99997,072C8AB4-47EB-441E-98A9-FD47F3315A81,1935-06-28,F,1,1,76,76,EPS037,EPS037,360,...,False,False,False,True,1.296260e+05,333262.000000,1,0,75,74
99998,072C8FDB-2E8D-407B-AD2B-748DF699C576,1979-12-09,F,1,1,11,23,EPS017,EPS005,360,...,False,False,False,False,2.205371e+06,471416.727273,1,0,31,30

In [16]:
salud[salud['SEXO'].isnull()].head()

Empty DataFrame
Columns: [NUM_IDE, FECHA_NACI, SEXO, MUNI_2010, MUNI_2011, DPTO_2010, DPTO_2011, EPS_2010, EPS_2011, DIAS_COMP_2010, DIAS_COMP_2011, CONTEO_2010, VALOR_TOT_2010, DIAG_1_A_2010, DIAG_1_B_2010, DIAG_1_C_2010, DIAG_1_D_2010, DIAG_1_E_2010, DIAG_1_F_2010, DIAG_1_G_2010, DIAG_1_H_2010, DIAG_1_I_2010, DIAG_1_J_2010, DIAG_1_K_2010, DIAG_1_L_2010, DIAG_1_M_2010, DIAG_1_N_2010, DIAG_1_O_2010, DIAG_1_P_2010, DIAG_1_Q_2010, DIAG_1_R_2010, DIAG_1_S_2010, DIAG_1_T_2010, DIAG_1_V_2010, DIAG_1_W_2010, DIAG_1_X_2010, DIAG_1_Y_2010, DIAG_1_Z_2010, CONTEO_2011, VALOR_TOT_2011, DIAG_1_A_2011, DIAG_1_B_2011, DIAG_1_C_2011, DIAG_1_D_2011, DIAG_1_E_2011, DIAG_1_F_2011, DIAG_1_G_2011, DIAG_1_H_2011, DIAG_1_I_2011, DIAG_1_J_2011, DIAG_1_K_2011, DIAG_1_L_2011, DIAG_1_M_2011, DIAG_1_N_2011, DIAG_1_O_2011, DIAG_1_P_2011, DIAG_1_Q_2011, DIAG_1_R_2011, DIAG_1_S_2011, DIAG_1_T_2011, DIAG_1_V_2011, DIAG_1_W_2011, DIAG_1_X_2011, DIAG_1_Y_2011, DIAG_1_Z_2011, GASTO_AN_2010, GASTO_AN_2011, SEXO_F, SEXO_M, EDAD_2011, EDAD_2010]
Index: []

[0 rows x 71 columns]

In [17]:
salud[['VALOR_TOT_2010','VALOR_TOT_2011','GASTO_AN_2010','GASTO_AN_2010']].head()

   VALOR_TOT_2010  VALOR_TOT_2011  GASTO_AN_2010  GASTO_AN_2010
0           28705         61049.0   6.889200e+04   6.889200e+04
1         1780939       1273880.0   1.780939e+06   1.780939e+06
2          308008             0.0   3.080080e+05   3.080080e+05
3           82379        555507.0   1.552693e+05   1.552693e+05
4          166203         43841.0   3.324060e+05   3.324060e+05

In [18]:
salud[['VALOR_TOT_2010','VALOR_TOT_2011','GASTO_AN_2010','GASTO_AN_2010']].mean(axis=0)

VALOR_TOT_2010    6.316394e+05
VALOR_TOT_2011    6.259137e+05
GASTO_AN_2010     1.297454e+06
GASTO_AN_2010     1.297454e+06
dtype: float64

In [19]:
salud[['VALOR_TOT_2010','VALOR_TOT_2011','GASTO_AN_2010','GASTO_AN_2010']].mean(axis=0)

VALOR_TOT_2010    6.316394e+05
VALOR_TOT_2011    6.259137e+05
GASTO_AN_2010     1.297454e+06
GASTO_AN_2010     1.297454e+06
dtype: float64

In [20]:
salud.columns

Index(['NUM_IDE', 'FECHA_NACI', 'SEXO', 'MUNI_2010', 'MUNI_2011', 'DPTO_2010',
       'DPTO_2011', 'EPS_2010', 'EPS_2011', 'DIAS_COMP_2010', 'DIAS_COMP_2011',
       'CONTEO_2010', 'VALOR_TOT_2010', 'DIAG_1_A_2010', 'DIAG_1_B_2010',
       'DIAG_1_C_2010', 'DIAG_1_D_2010', 'DIAG_1_E_2010', 'DIAG_1_F_2010',
       'DIAG_1_G_2010', 'DIAG_1_H_2010', 'DIAG_1_I_2010', 'DIAG_1_J_2010',
       'DIAG_1_K_2010', 'DIAG_1_L_2010', 'DIAG_1_M_2010', 'DIAG_1_N_2010',
       'DIAG_1_O_2010', 'DIAG_1_P_2010', 'DIAG_1_Q_2010', 'DIAG_1_R_2010',
       'DIAG_1_S_2010', 'DIAG_1_T_2010', 'DIAG_1_V_2010', 'DIAG_1_W_2010',
       'DIAG_1_X_2010', 'DIAG_1_Y_2010', 'DIAG_1_Z_2010', 'CONTEO_2011',
       'VALOR_TOT_2011', 'DIAG_1_A_2011', 'DIAG_1_B_2011', 'DIAG_1_C_2011',
       'DIAG_1_D_2011', 'DIAG_1_E_2011', 'DIAG_1_F_2011', 'DIAG_1_G_2011',
       'DIAG_1_H_2011', 'DIAG_1_I_2011', 'DIAG_1_J_2011', 'DIAG_1_K_2011',
       'DIAG_1_L_2011', 'DIAG_1_M_2011', 'DIAG_1_N_2011', 'DIAG_1_O_2011',
       'DIAG_1_P_2011', 'DIAG_1_Q_2011', 'DIAG_1_R_2011', 'DIAG_1_S_2011',
       'DIAG_1_T_2011', 'DIAG_1_V_2011', 'DIAG_1_W_2011', 'DIAG_1_X_2011',
       'DIAG_1_Y_2011', 'DIAG_1_Z_2011', 'GASTO_AN_2010', 'GASTO_AN_2011',
       'SEXO_F', 'SEXO_M', 'EDAD_2011', 'EDAD_2010'],
      dtype='object')

In [21]:
salud.drop(['DIAS_COMP_2010','DIAS_COMP_2011','CONTEO_2010','CONTEO_2011',],axis = 1, inplace = True)

### Filtrar filas
<img src="https://pandas.pydata.org/docs/_images/03_subset_rows.svg" title="Filas">

In [23]:
salud.loc[salud.FECHA_NACI == '1935-06-28']

,NUM_IDE,FECHA_NACI,SEXO,MUNI_2010,MUNI_2011,DPTO_2010,DPTO_2011,EPS_2010,EPS_2011,VALOR_TOT_2010,...,DIAG_1_W_2011,DIAG_1_X_2011,DIAG_1_Y_2011,DIAG_1_Z_2011,GASTO_AN_2010,GASTO_AN_2011,SEXO_F,SEXO_M,EDAD_2011,EDAD_2010
7573,008B49A9-D8E0-4A73-8A18-E8193A9F4B6D,1935-06-28,F,1,1,5,5,EPS037,EPS037,115238,...,False,False,False,False,115238.0,104100.0,1,0,75,74
99997,072C8AB4-47EB-441E-98A9-FD47F3315A81,1935-06-28,F,1,1,76,76,EPS037,EPS037,129626,...,False,False,False,True,129626.0,333262.0,1,0,75,74

### Filas y columnas
<img src="https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg" title="Filas y Columnas">

In [24]:
salud.loc[salud.FECHA_NACI == '1935-06-28','SEXO']

7573     F
99997    F
Name: SEXO, dtype: object

In [25]:
salud.loc[salud.FECHA_NACI == '1935-06-28','SEXO'].value_counts

<bound method IndexOpsMixin.value_counts of 7573     F
99997    F
Name: SEXO, dtype: object>